@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
/*     border: 1px solid white; */
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.btn-primary{
    background: linear-gradient(90deg, #FFD83D, #FF3CAC, #7B2CFF);
    padding: 12px 16px;
    color: white;
    border-radius: 50px;
    font-size: 16px;
}
.w-1440{
    max-width: 1440px;
    margin: 0 auto;
}



body{
    background: #1A0B2E;
    color: white;
    margin: 0 auto;
}
nav{
    padding: 16px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 800;
}

.tech {
  color: #ffffff;
}

.wave {
  background: linear-gradient(90deg, #FFE259, #FF4FD8, #6A00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul {
    display: flex;
    align-items: center;
    gap:32px ;
}
nav ul li a{
    color: white;
    font-size: 16px;
}
.hamburger{
    display: none;
}



.hero{
    padding: 80px 200px;
    background: url(assets/hero-bg.png) no-repeat;
    background-size: contain;
}

.mic{
    margin: 0 auto;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/hero-circle.png) no-repeat ;
    background-size: contain ;
    position: relative;
}
.mic img{
    padding: 20px;
    width: 200px;
}
.new{
    font-size: 18px;
    color: #000;
    background: #00FF88;
    padding: 3px 6px;
    border-radius:10px;
    position: absolute;
    top: 30px;
    right: 25px;
}


.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}
.hero-content h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}
.btn-hero-detail{
    font-size: 16px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.btn-hero{
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-green{
    padding: 12px 16px;
    color: #00FF88;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid #00FF88;
}

.about{
    padding: 120px 200px;
    text-align: center;
}
.about-content{
    margin-bottom: 80px;
}

.about-content p{
    font-size: 16px;
    margin-bottom: 20px;
}
.about-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 80px;

}
.about-summary h1{
    font-size: 48px;
    color: #00ff88;
}


.techwave{
    padding: 120px 200px;
    text-align: center;
    background: #230E3D;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    grid-gap:30px ;
}
.card{
    padding: 40px;
    background: hsla(266, 71%, 23%, 0.404);
    text-align: left;
    border-radius: 20px;
}
.card img{
    width: 60px;
    margin-bottom: 16px;
}
.card h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
}
.card1{
    grid-row-start: 1;
    grid-row-end: 3;
}
.card2 , .card3{
    grid-column-start: span 2;
    grid-column-end: span 4;
}
.card4{
    grid-column-start: 1;
    grid-column-end: 3;
}


.feature{
    padding: 120px 200px;
    text-align: center;
}
.feature-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.feature-card{
    border-radius: 20px;
    background: #250D44;
}

.feature-card iframe{
    width: 100%;
}

.card-details{
    padding: 24px;
}
.feature-card h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}
.feature-card p{
    font-size: 16px;
    margin-bottom: 12px;
}
.feature-card h4{
    text-align: left;
    color: #00FF88;
}


.host{
    margin: 0 auto;
    margin-bottom: 120px;
}
.host-container{
    padding: 40px;
    background: rgba(53, 17, 101, 0.40);
    display: flex;
}

.host-img {
    width: 50%;
}
.host-img img{
    width: 100%;
}
.host-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.host-content h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.host-content p{
    font-size: 16px;
    margin-bottom: 16px;
}
.social-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-icons img{
    width: 30px;
    border: 1px solid #FB09B4;
    padding: 5px;
    border-radius: 50%;
}


footer{
    background: url(assets/footer-bg.png);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0;
}
footer h1{
    margin-bottom: 32px;
}
.footer-logo{
    font-size: 62px;
}
.footer-icons{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}
.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width:576px) {
    *{
        border:1px solid white;
    }
    header, .about , .techwave, .feature , .host, footer{
        width: 450px;
    }

    /* header */
    nav{
        padding: 10px 50px;
    }
    .logo{
        font-size: 32px;
    }
    nav ul{
        display: none;
    }
    nav button{
        display: none;
    }
    .hamburger{
        display: block;
        width: 24px;
    }

    .hero{
        flex-direction: column;
    }
    .mic{
        margin: 0 auto;
        width: 140px;
        height: 140px;
        background: url(assets/responsive_hero-circle.png) no-repeat;
        background-size:cover ;
        position: absolute;
        top: 70px;
        right:35%;
    }
    .mic img{
        width: 100px;
    }
    .new{
        position: absolute;
        top: 10%;
        right: 0%;
        font-size: 12px;
    }
    .hero{
        padding: 50px 25px ;
    }
    .hero-content h1{
        font-size: 40px;
    }
    .hero button{
        font-size: 16px;
    }


    /* about section */

    .about{
        padding: 0 60px;
    }



    
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width:57px) and (max-width:992px) {
    

}